body{
  background-image: url("../images/winter.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
  background-attachment: fixed;
}
p{
text-align: center;
}
